<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            homepage
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>controllers.SiteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SitePagesController</servlet-name>
        <servlet-class>controllers.SitePagesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelController</servlet-name>
        <servlet-class>controllers.PanelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearVacanteController</servlet-name>
        <servlet-class>controllers.CrearVacanteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarVacanteController</servlet-name>
        <servlet-class>controllers.ActualizarVacanteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitePagesController</servlet-name>
        <url-pattern>/sitepages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearVacanteController</servlet-name>
        <url-pattern>/crearvacante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarVacanteController</servlet-name>
        <url-pattern>/actualizarvacante</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
